@using WarrenC_RestaurantReservations.Models
@model Reservation
@*@{
        int index = ViewBag.Index ?? -1;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Create Reservation</title>
</head>
<body>
    <header>College Spot</header>
    <a asp-action="Index" asp-controller="Home">Home</a>
    <a asp-action="CreateReservation" asp-controller="Reservation">Create Reservation</a>
    <a asp-action="ViewReservations" asp-controller="Reservation">View Reservations</a>
    <form method="post" action="~/Reservation/CreateReservation">
        <input type="datetime-local" name="reservationTime" placeholder="Date of Reservation" /><br />
        <input type="text" name="name" placeholder="Party Name" /><br />
        <input type="number" min="1" name="partySize" placeholder="Party Size" /><br />
        <label title="Smoking">
            Smoking<input type="checkbox" name="smoking" value="1" /><br />
        </label>
        <input type="text" name="specialInstructions" placeholder="Special Instructions" /><br />
        <input type="tel" name="contactNumber" placeholder="Contact Number" /><br />
        <label title="Texting">
            Is it ok to text<input type="checkbox" name="okToText" value="1" /><br />
        </label>
        <input type="submit" value="Create Reservation" />
    </form>
    <footer>Copyright&copy;</footer>
</body>
</html>
