
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <h1>Info and data and context and stuff</h1>
    <a asp-action="Index"> Home </a> &spades;<a asp-action="Info"> Info </a> &spades;
</body>
</html>
