

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <header>College Spot</header>
    <a asp-action="Index" asp-controller="Home">Home</a>
    <a asp-action="CreateReservation" asp-controller="Reservation">Create Reservation</a>
    <a asp-action="ViewReservations" asp-controller="Reservation">View Reservations</a>
    <h1>College Spot</h1>
    <img id="img1" src="~/restaurant1.jpg" />
    <p>Hello all! You may have seen College Spot in Salt Lake City and wondered what it is. College Spot</p>
    <p>is a restaurant geared towards college students. We serve food that is affordable and delicious.</p>
    <p>Our menu includes pizza, salad and more. "That sounds like an ordinary restaurant" Yeah maybe</p>
    <p>but do other restaurants have sound proof booths that are able to rented. We do because we know</p>
    <p>some people need a place to study and eat at the same time. We also have used textbooks that we</p>
    <p>allow students to use. While it's geared to students everyone's welcome. Whether business person</p>
    <p>looking for somewhere to work privately or a parent who doesn't want their child(ren) to bother</p>
    <p>others.</p>
    <img id="img2" src="~/restaurant2.jpg" />
    <footer>Copyright&copy;</footer>
</body>
</html>
