

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>BeforeNeumont</title>
</head>
<body>
    <nav><a asp-action="Index"> H&Phi;me </a> | <a asp-action="BeforeNeumont"> Bef&Phi;re </a> | <a asp-action="Career"> Future Career </a></nav>
    <h1>Bef&Phi;re Neum&Phi;nt</h1>
    <p>Before coming to Neumont I lived in Nashua, NH. I worked at a pizza place called Portland Pie Company</p>
    <p>I generally worked opening shift as a prep/line cook. At portland pie we always had 4 types of dough.</p>
    <p>Basil, Wheat, and Beer were the doughs constantly in stock. The fourth dough changed since it was</p>
    <p>seasonal. Part of morning prep was to stretch the dough for the day. When I wasn't working I was</p>
    <p>likely playing video games. I'd usually play Rpgs or games that have a story mode.</p>
    <img src="~/ppc.jpg" alt="IMAGES"/>
    <img src="~/Portland-Pie-Co2.jpg" alt="IMAGES" width="200" height="200"/>
    <footer>Copyright</footer>
</body>
</html>
