

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>Career</title>
</head>
<body>
    <nav><a asp-action="Index"> H&Phi;me </a> | <a asp-action="BeforeNeumont"> Bef&Phi;re </a> | <a asp-action="Career"> Future Career </a></nav>
    <h1>Future</h1>
    <p>As a Game Development and Design student I plan to get a job at a video game company. My favorite gaming</p>
    <p>company is Atlus and after getting some experience in the field I would love to work for them. Atlus</p>
    <p>creates the Shin Megami Tensei series which includes the Persona games, the Devil Survivor games and more.</p>
    <p>The main games they make are Jrpgs.</p>
    <img src="~/atlus-logo-black.jpg" alt="IMAGES" width="200" height="200" />
    <img src="~/desu.jpg" alt="IMAGES" width="200" height="200" />
    <footer>Copyright</footer>
</body>
</html>
