
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/styles.css"/>
    <title>Carl</title>
</head>
<body>
    <nav><a asp-action="Index"> H&Phi;me </a> | <a asp-action="BeforeNeumont"> Bef&Phi;re </a> | <a asp-action="Career"> Future Career </a></nav>
    <h1>H&Phi;me</h1>
    <p>Hello and welcome to the site all about me. My name is Carl R. Warren Jr. I'm 20 years old and will</p>
    <p>legaly be able to drink as of 9/3/19. I'm a Chohort 33 Game Dev student at Neumont College of</p>
    <p>Computer Science. My favorite color is silver-blue. I like anything alice and wonderland. The</p>
    <p>Cheshire cat is my favorite wonderland character. My favorite version is from the video game Alice</p>
    <p>The Madness Returns.</p>
    <img src="~/chesh.jpg" alt="IMAGES" width="200" height="200" />
    <img src="~/neumont.jpg" alt="IMAGES" width="200" height="200" />
    <footer>Copyright</footer>

</body>
</html>
